# Node & Angular common
**/node_modules/
**/dist/
**/tmp/
**/.angular/cache/
**/uploads/

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/logs/
**/*.log

# Env files
**/.env
**/.env.*

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Database files
server/mydb.sqlite
server/.env.development
server/.env.production
