.student-card {
  background: var(--mat-sys-surface-container-high);
  padding: 24px;
  border-radius: 16px;
  max-width: 900px;
  margin: 24px auto;

  h2 {
    margin-bottom: 16px;
  }

  .row {
    display: flex;
    gap: 16px;
  }

  .boolean-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 12px 24px;
    margin: 18px 0;
  }
}

.file-upload {
  margin: 16px 0;

  input {
    margin-top: 6px;
  }
}
